body {
  background-color:aqua
  color: #262626;
  font-family: CNN,Helvetica Neue,Helvetica,Arial,Utkal,sans-serif;}

h1 {
  color: blue;
  font-size: 3em; 
}

h2 {
  color: green;
  font-weight: normal;
  font-style: italic;
}

.completed {
  font-family: 16 px Times
}

#tasks .completed {
  background-blend-mode: exclusion;
  text-decoration: underline;
}
